@font-face {
  font-family: "iconfont"; /* Project id 2500232 */
  src: url('iconfont.woff2?t=1620457742180') format('woff2'),
       url('iconfont.woff?t=1620457742180') format('woff'),
       url('iconfont.ttf?t=1620457742180') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gou:before {
  content: "\e633";
}

.icon-jinggao:before {
  content: "\e810";
}

.icon-visible-full:before {
  content: "\e9ae";
}

.icon-caret-down:before {
  content: "\eb21";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-shouji:before {
  content: "\e607";
}

.icon-iconfontjiantou2:before {
  content: "\e632";
}

.icon-fangdajing:before {
  content: "\e617";
}

.icon-gouwuche2:before {
  content: "\e62d";
}

.icon-zaixiankefu:before {
  content: "\e61c";
}

.icon-shangjiantou_huaban:before {
  content: "\e63d";
}

.icon-fuwu:before {
  content: "\e6f7";
}

.icon-xiala:before {
  content: "\e646";
}

.icon-iconfontjiantou2-copy:before {
  content: "\e6f9";
}

