/* 导航栏 */
#shortcut{
    width: 100%;
    height: 36px;
    background-color: #2e2828;
    line-height: 36px;
    font-size: 12px;
    text-align: center;
}
.nav{
    width: 1200px;
    height: 36px;
    margin: 0 auto;
}
.nav-left{
    float: left;
}
.nav-left ul li,.nav-right ol li{
    float: left;
    padding: 0 8px;
    position: relative;
}
.nav-left ul li::before,.nav-right ol li::before{
    content: "";
    width: 1px;
    height: 10px;
    display: block;
    position: absolute;
    top: 13px;
    left: 0;
    background: #414141;
}
.nav-left ul li a,.nav-right ol li a{
    color: #afafaf;
}
.nav-left ul li a:hover,.nav-right ol li a:hover{
    color: #fff;
}
.More-exciting{
    color: #afafaf;
}
.More-exciting:hover{
    background-color: #fff;
    color: #cb242b;
    cursor: pointer;
}

.nav-right{
    float: right;
}
.cart{
    background-color: #424242;
}
.cart:hover{
    background-color: #fff;
}
.nav-right .cart:hover a{
    color: #cb242b;
}
 /* 头部开始  */
.herd{
     width: 100%;
     height: 41px;
     padding: 18px 0 15px;
 }
 .layout{
     width: 1200px;
     height: 41px;
     margin: 0 auto;
 }
 .layout>.left>a img{
     width: 205px;
     margin-right: 34px;
     float: left;
 }
 .layout .left ul li{
    width: 80px;
    height: 40px;
    margin-right: 24px;
    float: left;
 }
 .layout .left ul li a img{
    margin-top: 7px;
    width: 74px;
 }
 .layout .left ul li a img:hover{
     opacity: 0.7;
 }
 .layout .left ul li a{
     line-height: 40px;
     font-size: 16px;
 }
 .layout .left ul li a:hover{
     color: #cb242b;
 }
 /*  左边结束  */
 .layout .right{
     margin-top: 6px;
     float: right;
     width: 242px;
     height: 32px;
     border-radius: 15px;
     overflow: hidden;
     position: relative;
     box-sizing: border-box;
     border: 1px solid #f0f0f0;
 }
 .seach-bar{
     width: 240px;
     height: 30px;
 }
 .layout .right:hover{
     border: 1px solid #c9c9c9;
     color: #999;
 }
 .layout .right #search-kw{
     background: #000;
     width: 205px;
     height: 30px;
     border: none;
     outline: none;
     background-color: #f0f0f0;
     float: left;
 }
 .layout .right .button{ 
    width: 35px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
 }
 .layout .right .searchBar-key{
    position: absolute;
    max-width: 161px;
    right: 33px;
    bottom: 8px;
    z-index: 311;
 }
 .layout .right .searchBar-key a{
    font-size: 12px;
    color: #999;
 }
 .layout .right .searchBar-key a:hover{
     color: #000;
 }
/* 头部结束 */

.center{
    width: 1200px;
    margin: 0 auto;
    font-size: 14px;
}
.product-box{
    width: 1200px;
    height: 700px;
}
.breadcrumbs{
    width: 1200px;
    height: 30px;
    margin: 10px 0;
    color: #bbb;
}
.breadcrumb-area{
    width: 1200px;
    padding-top: 10px;
    font-size: 12px;
}
.breadcrumb-area a{
    color: #666
}
.breadcrumb-area span{
    color: #333;
}
.product{
    width: 1200px;
}
.product-left{
    width: 450px;
    height: 536px;
    float: left;
    position: relative;
}
.product-gallery{
    width: 450px;
    height: 536px;
}
.product-gallery-img{
    width: 450px;
    height: 450px;
    cursor: move;
}
.product-gallery-img img{
    width: 450px;
    height: 450px;
    position: relative;
}
.mask{
    width: 225px;
    height: 225px;
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-color: #fff;
    border: 1px solid #888;
    display: none;
}
.product-gallery-nav{
    width: 450px;
    height: 68px;
    margin-top: 18px;
    position: relative;
    cursor: pointer;
}
.product-bigbox{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 460px;
    z-index: 9;
    background: url(../images/detail/product-800-2.png) no-repeat;
    background-size: 800px 800px;
    border: #888 1px solid;
    background-color: #fff;
    display: none;
}
.pro-gallerys{
    width: 370px;
    height: 68px;
    margin-left: 40px;
    overflow: hidden;
    position: relative;
}
.pro-gallerys li{
    width: 68px;
    height: 68px;
    float: left;
    padding: 0 3px;
}
.pro-gallerys li img{
    display: block;
    vertical-align: top;
    width: 60px;
    height: 60px;
    margin: 3px 0 0 3px;
    
}
.pro-gallerys li img:hover{
    border: 1px solid #ca141d;
}
.btn-l,.btn-r{
    display: block;
    position: absolute;
    width: 30px;
    height: 68px;
}
.btn-l a,.btn-r a{
    width: 30px;
    height: 30px;
    display: block;
    margin-top: 19px;
}
.btn-l a{
    background: url(../images/detail/icon50.png) no-repeat -48px -29px;
}
.btn-r a{
    
    background: url(../images/detail/icon50.png) no-repeat -78px -29px;
}
.btn-l{
    left: 0;
    top: 0;
}
.btn-r{
    right: 0;
    top: 0;
}
.product-right{
    width: 700px;
    padding: 0 0 30px 30px;
    padding-bottom: 104px;
    float: left;
}
#pro-name{
    font-size: 21px;
    overflow: hidden;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 23px;
    color: #3a3a3a;
}
.product-slogan{
    display: block;
    font-size: 14px;
    padding-right: 40px;
    margin-bottom: 12px;
    position: relative;
    top: -3px;
    line-height: 20px;
}
.product-info{
    background: #f5f5f5;
    padding-top: 14px;
    padding-bottom: 3px;
}
.product-info .price{
    width: 700px;
    height: 30px;
}
.product-right label{
    display: inline-block;
    width: 85px;
    float: left;
    text-indent: 10px;
    line-height: 30px;
    font-size: 12px;
    color: #3a3a3a;
}
.price b{
    color: #ca141d;
    padding-right: 3px;
    font-size: 24px;
    line-height: 30px;
}
.price b i{
    font-size: 18px;
    margin-right: 4px;
    font-style: normal;
    font-weight: 400;
}
.product-sala{
    width: 700px;
    height: 30px;
    padding-bottom: 4px;
}
.product-sala p{
    height: 30px;
    font-size: 12px;
}
.product-sala p b{
    float: left;
    line-height: 18px;
    height: 18px;
    border: 1px solid #ca141d;
    padding: 0 6px;
    min-width: 24px;
    color: #ca141d;
    text-align: center;
    margin-right: 10px;
    margin-top: 5px;
}
.product-sala p i{
    float: left;
    line-height: 1.5;
    margin-top: 6px;
    max-width: 485px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
}
.product-pulldown{
    margin-bottom: 10px;
}
.product-pulldown label{
    line-height: 18px;
}
.product-pulldown ul li{
    display: inline-block;
    line-height: 18px;
    color: #3a3a3a;
    font-size: 12px;
}
.product-description label{
    line-height: 18px;
}
.product-description div{
    display: inline-block;
    line-height: 18px;
    color: #3a3a3a;
    font-size: 12px;
}
.product-choose{
    /* width: 605px; */
    cursor: pointer;
}
.product-choose:first-of-type dt label{
    height: 40px;
    line-height: 40px;
}
.product-choose dd{
    float: left;
    margin: 0 10px 10px 0;
}
.product-choose:first-of-type dd a{
    display: inline-block;
    width: 98px;
    height: 40px;
}
.product-choose dd img{
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 4px;
    border: 0 none;
}
.product-choose dd span{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding: 0 12px;
}
.product-choose .active{
    border: 1px solid #ca141d;
}
#Recommend dd{
    float: left;
    margin: 0 10px 10px 0;
}
#Recommend dd a{
    background: #f5f5f5;
    line-height: 30px;
    padding: 0 20px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 2px;
    font-size: 12px;
}
.product-description span{
    color: #ca141d;
    width: 568px;
    float: left;
    font-size: 12px;
    line-height: 18px;
}
.product-button{
    /* width: 645px; */
    height: 46px;
    margin-left: 85px;
    margin-top: 10px;
}
.product-button a{
    float: left;
    margin-right: 10px;
    display: block;
    background: #ca151d;
    width: 172px;
    height: 46px;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
}
/* 商品内容结束 */
.product-tab{
    width: 1200px;
    margin: 0 auto;
}
.product-tab ul{
    width: 600px;
    padding: 36px 0 37px 0;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    line-height: 18px;
}
.product-tab ul li{
    float: left;
}
.product-tab ul li a{
    margin: 0 25px;
    font-size: 18px;
    padding: 0 10px 6px 10px;
    color: #a4a4a4;
    text-align: center;
    position: relative;
}
.product-tab ul li .active{
    color: #ca141d;
    cursor: default;
}
.product-tab ul li .active b{
    background: #ca141d;
}
.product-tab ul li a b{
    width: 100%;
    height: 2px;
    display: block;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}
/* 商品详情开始 */
.product-details{
    text-align: center;
}
.product-details img{
    vertical-align: top;
    width: 100%;
    min-width: 1000px;
}

















/* 中间结束 */
.footer{
    width: 100%;
    height: 427px;
    background: #f9f9f9;
}
.footer-center{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.slogan{
    width: 100%;
    height: 40px;
    padding: 22px 0 20px;
    width: 1200px;
    margin: 0 auto;
}
.slogan ul{
    width: 100%;
    height: 40px;
}
.slogan ul li{
    float: left;
    height: 40px;
    padding-right: 120px;
    line-height: 40px;
}
.slogan ul li a{
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #333;
    text-align: center;
}
.slogan ul li:last-child{
    padding:0;
}
.slogan ul li i{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    float: left;
}
.slogan ul .a1 i{
    background: url(../images/icon01.svg) no-repeat;
    background-position: -74px 0;
}
.slogan ul .a2 i{
    background: url(../images/icon01.svg) no-repeat;
    background-position: -154px 0;
}
.slogan ul .a3 i{
    background: url(../images/icon01.svg) no-repeat;
    background-position: -194px 0;
}
.slogan ul .a4 i{
    background: url(../images/icon01.svg) no-repeat;
    background-position: -114px 0;
}
.service{
    width: 1200px;
    height: 164px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 23px 0 24px;
    margin: 0 auto;
}
.service-l{
    width: 920px;
    height: 155px;
    padding-top: 5px;
    border-right: 1px solid #e5e5e5;
    float: left;
}
.service-l dl{
    width: 16.66667%;
    float: left;
}
.service-l dl dt{
    font-size: 14px;
    color: #3a3a3a;
}
.service-l dl dt p{
    font-size: 14px!important;
    padding-bottom: 7px;
    color: #333;
    display: block;
    border-left: none;
    padding-left: 0;
    line-height: 1.5!important;
    margin-bottom: 0!important;
}
.service-l dl dd ol li{
    line-height: 22px;
    color: #777;
}
.service-l dl dd ol li a{
    color: #777;
    font-size: 12px;
}
.service-r{
    width: 278px;
    min-height: 160px;
    margin-top: 2px;
    text-align: center;
    float: left;
}
.service-r .d7{
    width: 279px;
    float: left;
    text-align: center;
}
.service-r .d7 dt p{
    width: 279px;
    height: 36px;
    line-height: 36px;
    font-size: 24px!important;
    padding: 0;
    color: #575757;
    font-weight: bold;
    display: block;
    border-left: none;
}
.service-r .d7 dd p{
    font-size: 14px;
    line-height: 22px;
    color: #575757;
}
.service-r .d7 dd .ser-btn{
    display: block;
    width: 170px;
    height: 34px;
    padding: 0;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 14px;
    line-height: 34px;
    background: #333;
    cursor: pointer;
    border-radius: 17px;
    text-align: center;
    color: #fff;
}
.service-r .d7 dd .ser-btn i{
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 6px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}
.service-r .d7 dd .ser-btn i::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/icon03.svg) no-repeat;
    background-position: -106px 0;
    position: relative;
    top: -2px;
}
.service-code{
    float: left;
    width: 250px;
    margin-top: 26px;
    margin-left: 40px;
}
.service-code h2{
    font-size: 14px;
    color: #333;
    float: left;
    font-weight: 400;
    line-height: 24px;
}
.service-code ul{
    float: left;
    margin-left: 3px;
}
.service-code ul li {
    width: 24px;
    height: 24px;
    margin-right: 11px;
    position: relative;
    float: left;
}
.service-code ul li a{
    display: block;
    width: 24px;
    height: 24px;
    text-indent: -999px;
    overflow: hidden;
    background: url(../images/icon03.svg) no-repeat;
}
.service-code ul li:first-child a{
    background-position: -126px 0;
}
.service-code ul li:nth-child(2) a{
    background-position: -150px 0;
}
.service-code ul li:nth-child(3) a{
    background-position: -174px 0;
}
.service-code ul li:last-child a{
    background-position: 0 -36px;
}
/* 服务结束 */
.footer-bot{
    padding: 25px 0 28px;
    width: 1200px;
    height: 81px;
    margin: 0 auto;
    color: #666;
    line-height: 81px;
}
.footer-logo {
    width: 82px;
    height: 20px;
    padding: 3px 20px 0 0;
    float: left;
}
.footer-logo a img{
    vertical-align: top;
    width: 82px;
    height: 20px;
    border: 0 none;
    color: #a4a4a4;
}
.fc{
    float: left;
}
.fc ul{
    margin-top: 3px;
    margin-bottom: 6px;
}
.fc ul li{
    float: left;
    line-height: 1;
    padding-right: 6px;
    border-right: 1px solid #d3d3d3;
    margin-right: 6px;
}
.fc ul li a{
    color: #777;
    font-size: 12px;
    line-height: 12px;
}
.xieyi{
    height: 70px;
    font-size: 12px;
    float: left;
    line-height: 14px;
    margin-top: 8px;
    color: #a4a4a4;
}
.footer-warrant-img{
    margin-top: 2px;
    width: 278px;
    text-align: center;
    float: right;
}
.footer-warrant-img a{
    display: inline-block;
    width: 100px;
    margin: 0 5px;
    float: none!important;
    color: #a4a4a4;
}
.footer-warrant-img a img{
    vertical-align: top;
    width: 100px;
    border: 0 none;
}